.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  gap: 1rem;
  margin: 1rem;
}

.turns,
.title {
  color: white;
}
.btn {
  height: 2rem;
  width: 6rem;
  background: hotpink;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font: inherit;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: rgb(255, 164, 210);
}

.card {
  animation: cards 0.5s ease-in-out;
}

@keyframes cards {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
